<main class="container my-5">
    <h1 class="text-center mb-4">Últimas Notícias</h1>
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="facisa.png" class="card-img-top" alt="Imagem da notícia">
          <div class="card-body">
            <h5 class="card-title">Título da Notícia 1</h5>
            <p class="card-text">Breve descrição da notícia para atrair o leitor.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="facisa.png" class="card-img-top" alt="Imagem da notícia">
          <div class="card-body">
            <h5 class="card-title">Título da Notícia 2</h5>
            <p class="card-text">Breve descrição da notícia para atrair o leitor.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="facisa.png" class="card-img-top" alt="Imagem da notícia">
          <div class="card-body">
            <h5 class="card-title">Título da Notícia 3</h5>
            <p class="card-text">Breve descrição da notícia para atrair o leitor.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="facisa.png" class="card-img-top" alt="Imagem da notícia">
          <div class="card-body">
            <h5 class="card-title">Título da Notícia 4</h5>
            <p class="card-text">Breve descrição da notícia para atrair o leitor.</p>
            <a href="#" class="btn btn-primary">Leia mais</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  

<router-outlet />
