h1{
    color: #01347C;
    font-weight: bolder;
    font-size: 35px;
}

.card
 {
    border: 1px solid #01347C;
}

.card-img-top {
    width: 100%;
    object-fit: cover; 
  }
  .card-body {
    padding: 1rem;
    color: #01347C;
  }

  .card-title {
    font-size: 1.1rem; 
  }

  .card-text {
    font-size: 0.9rem; 
  }

  .btn {
    font-size: 0.85rem;
    background-color: #01347C;
    color: whitesmoke;
  }
  .card {
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }

  .card:hover {
    transform: scale(1.05);
  }

  #cancelar {
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }

  #cancelar:hover {
    transform: scale(1.05);
    background-color: red;
  }
  #salvar {
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }

  #salvar:hover {
    transform: scale(1.05);
    background-color: green;
  }

  .btn {
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }

  .btn:hover {
    transform: scale(1.05);
  }